<div class="container main">
    <div class="game-end">
        <div class="holder">
            <div class="card clearfix">
                <div class="history">
                    <div class="latest-score">
                        <img src="../images/cup.png" alt="">
                        <h1 class="text-white">{{lastAttempts.Final_Score__c}}</h1>
                        <span class="text-white">{{player.Player_Name__c}}</span>
                        <span class="text-green">{{player.Email__c}}</span>
                    </div>
                    <div class="high-scorrer">
                        <div class="content">
                            <div>
                                <span class="text-white upper-case">{{topScorrer.name}}</span>
                                <span class="text-green">{{topScorrer.email}}</span>
                                <span class="text-ash">{{topScorrer.serviceLine}}</span>
                            </div>
                            <h1 class="text-yellow">{{topScorrer.score}}</h1>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <h1>SCORECARD</h1>
                    <div class="score-details">
                        <span>
                            <span>Pipes Passed &nbsp;</span>
                            <span>{{lastAttempts.No_of_Pipes_Passed__c}}</span>
                        </span>
                        <span>
                            <span>Questions Attempted &nbsp;</span>
                            <span>{{lastAttempts.Total_Questions_Attempted__c}}</span>
                        </span>
                        <span>
                            <span>Correct Answers &nbsp;</span>
                            <span>{{lastAttempts.Answered_Correct__c}}</span>
                        </span>
                        <span>
                            <span>Hidden Multiplier &nbsp;&nbsp;</span>
                            <span>{{lastAttempts.Hidden_Multiplier__c}}</span>
                        </span>
                    </div>
                    <h1>TOTAL SCORE - {{lastAttempts.Final_Score__c}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <strong>LAST ATTEMPT Details (sending string while rendering change to object)</strong>
<br>
<br> {{lastAttempts}}

<br>
<br>
<br>
<strong>This player Info (sending string while rendering change to object)</strong>
<br>
<br> {{player}}

<br>
<br>
<br>
<br>
<strong>Winner Info (sending string while rendering change to object)</strong>
<br>
<br> {{topScorrer}} --}}