<strong>
    data(sending string while rendering change to object) : ->
</strong>
<br>
<br> {{attempts}} {{!--Last 2 Attempts--}}
<div class="row">
    <div class="card-panel last-attempts  grey darken-4">
        <div class="row valign-wrapper">

            {{!--Label--}}
            <div class="col s4 label">Your Last 2 Attempts</div>

            {{#each attempts}} {{#if this.Final_Score__c}}
            <div class="col s4 attempt">
                <div class="score">{{this.Final_Score__c}}</div>
                <div class="t-points">
                    Questions Answered Correctly:
                    <span>{{this.Correct_Answers__c}}</span> Questions Attempeted:
                    <span>{{this.Total_Questions_Attempted__c}}</span>
                </div>
                <div class="t-points">Token Points:
                    <span>{{this.Token_Points__c}}</span>
                </div>
                <div class="time">Time:
                    <span>{{this.Time_Taken__c}} sec</span>
                </div>
            </div>
            {{else}}
            <div class="col s4 attempt">
                <div class="score white-text">-</div>
            </div>
            {{/if}} {{/each}}

        </div>
    </div>
</div>

{{!--Rules--}}
<div class="extra-text white-text rules-container row">
    <h4 class="center">Rules</h4>
    <ul>
        <li>Use
            <i class="material-icons amber-text icon-inline">arrow_back</i> and
            <i class="material-icons amber-text icon-inline">arrow_forward</i> arrows to move ambulance</li>
        <li>Every time ambulance hits a ditch, a question related to LSHC pops up</li>
        <li>Every question has a hint and you will have to earn them</li>
        <li>Catch any
            <b class="yellow-text">3</b> positive tokens(Capsule, Stethoscope, Injection, Band-aid) to see hint for upcoming question</li>
        <li>Every positive token will
            <b class="green-text">add 10</b> points to your token points</li>
        <li>Every negative token will
            <b class="red-text">reduce 10</b> points of your token points</li>
        <li>Answer
            <b class="green-text">5</b> questions correctly to end the game</li>
        <li>Number of correct answers will be indicated by glowing stars</li>
        <li>The time duration for this game is
            <b class="red-text">2</b> minutes
            <span class="small-font">(excluding the time you take to answer the questions)</span>
        </li>
    </ul>

    <div class="row center">
        <p class="ackwldge">
            <input type="checkbox" id="rulesRead" />
            <label for="rulesRead">I have read the above mentioned rules</label>
        </p>
        <a href="/play-game/{{playerID}}" class="btn waves-effect waves-light light-green darken-1" disabled id="play">Play</a>
    </div>
</div>